table {
    border-collapse: collapse;
}

td {
    width: 100px;
    height: 200px;
    border: 20px solid burlywood;
    background-color: chocolate;
}

.emailpasse {
    padding: 15px;
    font-size: large;
}

.login {
    display: block;
    border: 1px solid black;
    text-align: left;
    margin-left: 38%;
    margin-right: 38%;
    padding: 10px;
}

.init {
    background-color: darkorchid;
    width: 300px;
    height: 50px;
    margin-left: 18px;
    font-size: large;
    color: ghostwhite;
}

.bigbreak {
    line-height: 2.5;
}

#Logo{
    text-align: center;
    font-size: 900%;
    font-style: italic;
}

#config{
    font-size: 200%;
    display: flexbox;
    border: 2px solid black;
    border-radius: 25px;
    padding-left: 20px;
    margin: 50px;
}

